.skill__container {
    width: 150px;
    height: 70px;
    border-radius: 10px;
    margin: 7px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 2px 2px 5px gray;
    background-color: #333;
}

.skill__title {
    text-align: center;
    font-size: 15px;
    color: var(--main-orange-color);
    font-weight: 700;
}

.skill__img {
    width: 35%;
}

@media screen and (min-width: 600px) {
    .skill__container {
        width: 240px;
        height: 110px;
    }

    .skill__container:hover {
        transform: scale(1.02);
        transition: .1s;
        user-select: none;
    }

    .skill__title {
        font-size: 17px;
    }
    
    .skill__img {
        width: 36%;
    }
}