#footer {
    background-color: #333;
    position: relative;
}

.footer__title {
    margin: 3px;
    padding: 15px;
    font-size: 14px;
    color: #fff;
}

.footer__icon_container {
    position: absolute;
    right: 15px;
    bottom: 12px;
    border: none;
    background-color: rgb(255, 115, 0);
    cursor: pointer;
}

.footer__icon {
    padding: 3px 5px;
    font-size: 20px;
}

.footer__icon_container:hover {
    transform: scale(1.05);
    transition: .1s;
}

@media screen and (min-width: 600px) {
    .footer__title {
        font-size: 16px;
    }
}