#skills {
    padding: 40px 20px;
    background-color: #f8f8f8;
    scroll-margin-top: 60px;
}

.skills__container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.skills__title {
    padding-left: 7px;
    font-size: 25px;
    font-weight: 700;
}

.skills__description {
    padding: 10px 7px;
}

.skills__section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.skills_section__title {
    padding: 0 0 7px 7px;
    font-size: 19px;
}

.skills_section__container {
    width: 100%;
    height: auto;
    padding: 15px 0;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px solid rgba(51, 51, 51,.1);
}


@media screen and (min-width: 600px) {
    #skills {
        padding: 60px;
    }

    .skills__title {
        font-size: 35px;
    }

    .skills__description {
        font-size: 17px;
    }

    .skills_section__title {
        padding: 0 0 7px 7px;
        font-size: 21px;
    }
}